@import "~bootstrap/dist/css/bootstrap.css";

/* section {
    width: 100%;
    height: 600px;
     position: relative;

}*/


/* .topnav {
    overflow: hidden;
    background-color: rgb(190, 184, 184);
    width: 1000px;
    position: absolute;
} */

.topnav {
    margin: 0px 0px 0px 0px;
    background-color: gray;
    width: 100%;
    /* position: relative; */
}

.icons {
    margin-right: 90%;
    width: 120px;
    height: 35px;
    position: absolute;
}

.topnav li {
    display: flex;
    flex-flow: row;
    list-style: none;
    margin: 10px;
    right: 1em;
    margin-left: 60%;
    position: relative;
}

.topnav li a {
    font-size: 10px;
    color: whitesmoke;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 10px;
}

.card {
    margin: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 2px;
    /* border-color: grey; */
}

.loginbox {
    background-color: black;
    position: relative;
    padding: 15px;
    height: 550px;
    width: 320px;
    border: solid coral;
}

#sec4 {
    width: 100%;
    height: 300px;
}

#sec5 {
    width: 100%;
    height: 300px;
}

.wrapper1 {
    text-align: center;
}

@media (min-width: 700px) {
    * {
        box-sizing: border-box;
    }
    section {
        width: 100%;
        /* position: relative; */
        /* background-color: silver; */
    }
    p.card-text1 {
        text-align: center;
        font-size: medium;
    }
    label.head1 {
        margin: 30;
        text-align: center;
        color: orange;
        padding-bottom: 15px;
    }
    footer {
        width: 100%;
        text-align: center;
        color: white;
    }
    /* .topnav a.active {
        background-color: #4CAF50;
        color: white;
    } */
    .flex-container {
        display: flex;
        /* background-color: DodgerBlue; */
    }
    .flex-container>div {
        /* background-color: black; */
        margin: 10px;
        padding: 20px;
        font-size: 30px;
        width: 33%;
    }
    .para>p {
        /* display: block; */
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        font-size: large;
        vertical-align: middle;
        color: orange;
        /* top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
    }
    .loginbox {
        background-color: black;
        position: relative;
        padding: 15px;
        height: auto;
        width: relative;
        margin: 5px 10px 5px 10px;
        border: solid coral;
    }
    .button-box {
        /* width: 200px; */
        margin: 5px 25px 10px 25px;
        position: relative;
        border-radius: 30px;
    }
    button {
        text-align: center;
        margin: 10px;
        font-size: medium;
        font-weight: normal;
        width: 70px;
        background-color: coral;
        color: white;
        /* position: absolute; */
    }
    button.btn1 {
        width: 150px;
        height: 35px;
        color: whitesmoke;
        background-color: orange;
        border-radius: 20px;
        margin-bottom: 15px;
        /* position: absolute;
        top: 50%; */
    }
    img.mob {
        height: 519px;
        width: 320px;
        border-radius: 2px;
        margin-left: 15px;
        margin-right: 15px;
    }
    img.logos {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25px;
    }
    img.logos1 {
        margin: auto;
        height: 130px;
        width: 200px;
    }
}

img.logos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

img.logos1 {
    margin-right: 60%;
    /* margin-left: 80%;  */
    height: 190px;
    width: 300px;
}

button.btn1 {
    width: 150px;
    height: 35px;
    color: whitesmoke;
    background-color: orange;
    border-radius: 20px;
}

p.lab {
    font-weight: bolder;
    text-align: center;
    color: #ffe347;
    padding-bottom: 15px;
    padding-top: 25px;
}


/* button .toggle-btn {
    padding: 10px 30px;
    margin: 5px;
    cursor: pointer;
    background: black;
    outline: none;
    position: relative;
} */


/* card */

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card>hr {
    margin-right: 0;
    margin-left: 0;
}

.card>.list-group {
    border-top: inherit;
    border-bottom: inherit;
}

.card>.list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card>.list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
}

.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}

.card-link+.card-link {
    margin-left: 1.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header+.list-group .list-group-item:first-child {
    border-top: 0;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
}

.card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.card-img,
.card-img-top,
.card-img-bottom {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
}

.card-img,
.card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck .card {
    margin-bottom: 15px;
}

@media (min-width:680px) {
    .card-deck {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .card-deck .card {
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px;
    }
}

.card-group>.card {
    margin-bottom: 15px;
}

@media (min-width: 680px) {
    .card-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .card-group>.card {
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        margin-bottom: 0;
    }
    .card-group>.card+.card {
        margin-left: 0;
        border-left: 0;
    }
    .card-group>.card:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .card-group>.card:not(:last-child) .card-img-top,
    .card-group>.card:not(:last-child) .card-header {
        border-top-right-radius: 0;
    }
    .card-group>.card:not(:last-child) .card-img-bottom,
    .card-group>.card:not(:last-child) .card-footer {
        border-bottom-right-radius: 0;
    }
    .card-group>.card:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .card-group>.card:not(:first-child) .card-img-top,
    .card-group>.card:not(:first-child) .card-header {
        border-top-left-radius: 0;
    }
    .card-group>.card:not(:first-child) .card-img-bottom,
    .card-group>.card:not(:first-child) .card-footer {
        border-bottom-left-radius: 0;
    }
}

.card-columns .card {
    margin-bottom: 0.75rem;
}

@media (min-width:680px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
    .card-columns .card {
        display: inline-block;
        width: 100%;
    }
}

.accordion>.card {
    overflow: hidden;
}

.accordion>.card:not(:last-of-type) {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.accordion>.card:not(:first-of-type) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.accordion>.card>.card-header {
    border-radius: 0;
    margin-bottom: -1px;
}